@model InsuranceAgency__.Models.Payment

@{
    ViewData["Title"] = "Details";
}

<h1>Детальный просмотр данных об оплате</h1>

<div>
    <h4>Оплата</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Идентификатор оплаты
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            Номер квитанции
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReceiptNumber)
        </dd>
        <dt class="col-sm-2">
            ФИО плательщика
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FIO)
        </dd>
        <dt class="col-sm-2">
            Дата оплаты
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DatePayment)
        </dd>
        <dt class="col-sm-2">
            Идентификатор клиента
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClientId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Изменить</a> |
    <a href="\Home\Index">Вернуться назад</a>
</div>
