@model InsuranceAgency__.Models.Applications

@{
    ViewData["Title"] = "Details";
}

<h1>Детальный просмотр заявки</h1>

<div>
    <h4>Заявка</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            ФИО
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FIO)
        </dd>
        <dt class="col-sm-2">
            Номер паспорта
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PassportNumber)
        </dd>
        <dt class="col-sm-2">
            Серия паспорта
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PassportSeries)
        </dd>
        <dt class="col-sm-2">
            Оформить/расторгнуть договор
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContractValidity)
        </dd>
        <dt class="col-sm-2">
            Вид страхования
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InsuranceType)
        </dd>
        <dt class="col-sm-2">
            Страховая сумма
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InsuranceAmount)
        </dd>
        <dt class="col-sm-2">
            Статус заявки
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ApplicationStatus)
        </dd>
        <dt class="col-sm-2">
            Идентификатор клиента
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClientId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Изменить</a> |
    <a href="\Home\Index">Вернуться назад</a>
</div>
